.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-frame {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 132px;
  display: flex;
  flex-direction: row;
}
.home-frame01 {
  width: 100%;
  height: 640px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  justify-content: center;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 640px;
  position: absolute;
}
.home-frame02 {
  width: 1440px;
  height: 640px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-direction: row;
}
.home-frame03 {
  top: 221px;
  left: 138px;
  width: 412px;
  height: 245.9999542236328px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text {
  color: rgba(17, 17, 17, 1);
  height: auto;
  font-size: 50px;
  font-style: normal;
  font-family: Cormorant;
  font-weight: 600;
  line-height: 98.00000190734863%;
  font-stretch: normal;
}
.home-text001 {
  top: 198px;
  left: 2px;
  width: 217px;
  height: 48px;
  position: absolute;
  font-size: 18px;
  box-shadow: 2px 3px 10px 0px #ffb3be;
  text-align: center;
  transition: 0.3s;
  padding-top: 12px;
  padding-left: 52px;
  border-radius: 32px;
  padding-right: 52px;
  padding-bottom: 12px;
  text-decoration: none;
  background-color: rgb(251, 203, 211);
}
.home-text001:hover {
  color: var(--dl-color-gray-white);
}
.home-text004 {
  top: 116px;
  left: 2px;
  color: rgba(17, 17, 17, 1);
  width: 350px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.home-frame04 {
  width: 1440px;
  height: 637px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-carousel {
  gap: 16px;
  top: 156px;
  flex: 0 0 auto;
  left: 140px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.home-frame05 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text006 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text008 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image01 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image01:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text012 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text012:hover {
  background-color: #FBCBD3;
}
.home-frame06 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text013 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text015 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image02 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image02:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text019 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text019:hover {
  background-color: #FBCBD3;
}
.home-frame07 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text020 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text022 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image03 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image03:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text026 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text026:hover {
  background-color: #FBCBD3;
}
.home-frame08 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text027 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text029 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image04 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image04:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text033 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text033:hover {
  background-color: #FBCBD3;
}
.home-text034 {
  top: 80px;
  left: 140px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
.home-text036 {
  top: 618px;
  left: 1160px;
  color: var(--dl-color-gray-black);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.home-image05 {
  top: 113px;
  left: 1214px;
  position: absolute;
}
.home-image06 {
  top: 113px;
  left: 1269px;
  position: absolute;
}
.home-frame09 {
  width: 1440px;
  height: 637px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text038 {
  top: 80px;
  left: 140px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
.home-text039 {
  top: 618px;
  left: 1160px;
  color: var(--dl-color-gray-black);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.home-image07 {
  top: 113px;
  left: 1214px;
  position: absolute;
}
.home-image08 {
  top: 113px;
  left: 1269px;
  position: absolute;
}
.home-carousel1 {
  gap: 16px;
  top: 156px;
  flex: 0 0 auto;
  left: 140px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.home-frame10 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text040 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text042 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image09 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image09:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text046 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text046:hover {
  background-color: #FBCBD3;
}
.home-frame11 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text047 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text049 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image10 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image10:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text053 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text053:hover {
  background-color: #FBCBD3;
}
.home-frame12 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text054 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text056 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image11 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image11:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text060 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text060:hover {
  background-color: #FBCBD3;
}
.home-frame13 {
  width: 277px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FFF3F6;
}
.home-text061 {
  top: 391px;
  left: 16px;
  color: rgba(17, 17, 17, 1);
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.home-text063 {
  top: 323px;
  left: 0px;
  color: rgba(17, 17, 17, 1);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-image12 {
  top: 16px;
  left: 16px;
  width: 246px;
  height: 298px;
  position: absolute;
  transition: 0.3s;
}
.home-image12:hover {
  top: 0px;
  left: 0px;
  width: 278px;
  height: 314px;
  position: absolute;
}
.home-text067 {
  top: 382px;
  left: 121px;
  position: absolute;
  transition: 0.3s;
  padding-top: 10px;
  border-color: #FBCBD3;
  border-width: 1px;
  padding-left: 32px;
  border-radius: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #FFF3F6;
}
.home-text067:hover {
  background-color: #FBCBD3;
}
.home-frame14 {
  width: 1440px;
  height: 771px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame15 {
  top: 156px;
  left: 729px;
  width: 571px;
  height: 522px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-navlink {
  display: contents;
}
.home-image13 {
  top: 0px;
  left: 0px;
  width: 571px;
  height: 522px;
  position: absolute;
  border-radius: 12px;
  text-decoration: none;
}
.home-text068 {
  top: 472px;
  left: 16px;
  color: rgba(255, 243, 246, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
}
.home-frame16 {
  top: 426px;
  left: 435px;
  width: 276px;
  height: 252px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-navlink1 {
  display: contents;
}
.home-image14 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 252px;
  position: absolute;
  border-radius: 12px;
  text-decoration: none;
}
.home-text070 {
  top: 202px;
  left: 16px;
  color: rgba(255, 243, 246, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
}
.home-frame17 {
  top: 426px;
  left: 140px;
  width: 277px;
  height: 252px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-navlink2 {
  display: contents;
}
.home-image15 {
  top: 0px;
  left: 0px;
  width: 277px;
  height: 252px;
  position: absolute;
  border-radius: 12px;
  text-decoration: none;
}
.home-text072 {
  top: 202px;
  left: 16px;
  color: rgba(255, 243, 246, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
}
.home-frame18 {
  top: 156px;
  left: 140px;
  width: 571px;
  height: 252px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-navlink3 {
  display: contents;
}
.home-image16 {
  top: 0px;
  left: 0px;
  width: 571px;
  height: 252px;
  position: absolute;
  border-radius: 12px;
  text-decoration: none;
}
.home-text074 {
  top: 202px;
  left: 16px;
  color: rgba(255, 243, 246, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
}
.home-text076 {
  top: 76px;
  left: 655px;
  color: var(--dl-color-gray-black);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
}
.home-frame19 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgba(251, 203, 211, 1);
}
.home-frame20 {
  width: 1440px;
  height: 601px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: rgba(251, 203, 211, 1);
}
.home-image17 {
  top: 1px;
  left: 720px;
  width: 50%;
  height: 600px;
  position: absolute;
}
.home-text077 {
  top: 432px;
  left: 140px;
  color: rgba(17, 17, 17, 1);
  width: 530px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Bad Script;
  font-weight: 400px;
  line-height: 148.00000190734863%;
  font-stretch: normal;
}
.home-text079 {
  top: 116px;
  left: 140px;
  color: rgba(17, 17, 17, 1);
  width: 530px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
}
.home-text094 {
  top: 52px;
  left: 140px;
  color: rgba(17, 17, 17, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
.home-frame21 {
  width: 1440px;
  height: 651px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.home-text096 {
  top: 80px;
  left: 140px;
  color: #000000;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-family: Cormorant;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink4 {
  display: contents;
}
.home-frame22 {
  top: 78.00244140625px;
  left: 956px;
  width: 45px;
  height: 47.90399169921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.home-image19 {
  top: 10px;
  left: 10px;
  position: absolute;
}
.home-image20 {
  top: 156px;
  left: 827px;
  width: 473px;
  height: 397px;
  position: absolute;
  border-radius: 12px;
}
.home-image21 {
  top: 156px;
  left: 140px;
  width: 669px;
  height: 397px;
  position: absolute;
  border-radius: 12px;
}
.home-navlink5 {
  display: contents;
}
.home-frame23 {
  top: 156px;
  flex: 0 0 auto;
  left: 140px;
  width: 669px;
  height: 397px;
  display: flex;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-frame23:hover {
  opacity: 1;
}
.home-text098 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
.home-text099 {
  color: #FBCBD3;
  height: auto;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
}
.home-navlink6 {
  display: contents;
}
.home-frame24 {
  top: 156px;
  flex: 0 0 auto;
  left: 827px;
  width: 473px;
  height: 397px;
  display: flex;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-frame24:hover {
  opacity: 1;
}
.home-text100 {
  color: var(--dl-color-gray-white);
  width: 337px;
  height: auto;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
.home-text103 {
  top: 199px;
  left: 282px;
  color: #FBCBD3;
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}
