.header-container {
  width: 100%;
  display: flex;
  z-index: 101;
  position: fixed;
  flex-direction: column;
}
.header-frame {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FBCBD3;
}
.header-frame01 {
  width: 1440px;
  height: 80px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-direction: row;
  background-color: #FBCBD3;
}
.header-frame02 {
  gap: 22px;
  top: 29px;
  left: 645px;
  display: flex;
  position: absolute;
}
.header-text {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text:hover {
  color: #939393;
}
.header-text03 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text03:hover {
  color: #939393;
}
.header-text06 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text06:hover {
  color: #939393;
}
.header-text09 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text09:hover {
  color: #939393;
}
.header-frame03 {
  gap: 24px;
  top: 27px;
  left: 1222px;
  width: 74px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.header-navlink {
  display: contents;
}
.header-image {
  text-decoration: none;
}
.header-navlink1 {
  display: contents;
}
.header-image1 {
  text-decoration: none;
}
.header-frame04 {
  gap: 4px;
  top: 23px;
  left: 140px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  text-decoration: none;
}
.header-navlink2 {
  display: contents;
}
.header-frame05 {
  width: 39px;
  height: 29px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  text-decoration: none;
}
.header-image2 {
  width: 39px;
  height: 29px;
}
.header-image3 {
  top: 8.69991397857666px;
  left: 10.633312225341797px;
  width: 11px;
  height: 3px;
  position: absolute;
}
.header-text12 {
  color: #000000;
  font-size: 28px;
  font-style: Display;
  font-family: Ade;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-frame06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:  #FFFFFF;
}
.header-frame07 {
  width: 1440px;
  height: 52px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color:  #FFFFFF;
}
.header-frame08 {
  gap: 50px;
  top: 13px;
  left: 340px;
  display: flex;
  position: absolute;
  flex-shrink: 0;
}
.header-dropdown {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 17px;
}
.header-dropdown-toggle {
  fill: #595959;
  display: inline-flex;
  position: relative;
}
.header-text13 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
}
.header-text13:hover {
  color:  #FBCBD3;
}
.header-dropdown-list {
  top: 39px;
  left: -340px;
  height: 70px;
  display: none;
  z-index: 200;
  position: absolute;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.header-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header-dropdown-toggle01 {
  fill: #595959;
  display: inline-flex;
  position: relative;
}
.header-frame09 {
  width: 1440px;
  height: 70px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: #FFF3F6;
}
.header-frame10 {
  gap: 198px;
  top: 24px;
  left: 141px;
  display: flex;
  position: absolute;
}
.header-text16 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text16:hover {
  color: #939393;
  font-family: Open Sans;
}
.header-text17 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text17:hover {
  color: #939393;
}
.header-text18 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text18:hover {
  color: #939393;
}
.header-text19 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text19:hover {
  color: #939393;
}
.header-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 17px;
}
.header-dropdown-toggle02 {
  fill: #595959;
  display: inline-flex;
}
.header-text20 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
}
.header-text20:hover {
  color:  #FBCBD3;
}
.header-dropdown-list1 {
  top: 39px;
  left: -458px;
  height: 245px;
  display: none;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.header-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header-dropdown-toggle03 {
  fill: #595959;
  width: 1440px;
  height: 245px;
  display: inline-flex;
  position: relative;
}
.header-frame11 {
  width: 1440px;
  height: 245px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: #FFF3F6;
}
.header-frame12 {
  gap: 377px;
  top: 24px;
  left: 140px;
  display: flex;
  position: absolute;
}
.header-caption {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.header-caption1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-caption2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-text26 {
  top: 62px;
  left: 140px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text26:hover {
  color: #939393;
}
.header-text27 {
  top: 92px;
  left: 140px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text27:hover {
  color: #939393;
}
.header-text28 {
  top: 122px;
  left: 140px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text28:hover {
  color: #939393;
}
.header-text29 {
  top: 62px;
  left: 630px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text29:hover {
  color: #939393;
}
.header-text30 {
  top: 92px;
  left: 630px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text30:hover {
  color: #939393;
}
.header-text31 {
  top: 122px;
  left: 630px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text31:hover {
  color: #939393;
}
.header-text32 {
  top: 152px;
  left: 630px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text32:hover {
  color: #939393;
}
.header-text33 {
  top: 182px;
  left: 630px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text33:hover {
  color: #939393;
}
.header-text34 {
  top: 122px;
  left: 1121px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text34:hover {
  color: #939393;
}
.header-text35 {
  top: 152px;
  left: 1121px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text35:hover {
  color: #939393;
}
.header-text36 {
  top: 62px;
  left: 1121px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text36:hover {
  color: #939393;
}
.header-text37 {
  top: 92px;
  left: 1121px;
  color: #000000;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text37:hover {
  color: #939393;
}
.header-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 17px;
}
.header-dropdown-toggle04 {
  fill: #595959;
  display: inline-flex;
}
.header-text38 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
}
.header-text38:hover {
  color:  #FBCBD3;
}
.header-dropdown-list2 {
  top: 39px;
  left: -591.2px;
  height: 336px;
  display: none;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.header-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header-dropdown-toggle05 {
  fill: #595959;
  width: 1440px;
  height: 245px;
  display: inline-flex;
  position: relative;
}
.header-frame13 {
  width: 1440px;
  height: 336px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: #FFF3F6;
}
.header-frame14 {
  gap: 16px;
  top: 24px;
  left: 593px;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.header-text41 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text41:hover {
  color: #939393;
}
.header-text42 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text42:hover {
  color: #939393;
}
.header-text43 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text43:hover {
  color: #939393;
}
.header-text44 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text44:hover {
  color: #939393;
}
.header-text45 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text45:hover {
  color: #939393;
}
.header-text46 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text46:hover {
  color: #939393;
}
.header-text47 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text47:hover {
  color: #939393;
}
.header-text48 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text48:hover {
  color: #939393;
}
.header-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 17px;
}
.header-dropdown-toggle06 {
  fill: #595959;
  display: inline-flex;
}
.header-text49 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
}
.header-text49:hover {
  color:  #FBCBD3;
}
.header-dropdown-list3 {
  top: 39px;
  left: -693px;
  height: 70px;
  display: none;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.header-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header-dropdown-toggle07 {
  fill: #595959;
  width: 1440px;
  height: 245px;
  display: inline-flex;
  position: relative;
}
.header-frame15 {
  width: 1440px;
  height: 70px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: #FFF3F6;
}
.header-frame16 {
  gap: 350px;
  top: 24px;
  left: 143px;
  display: flex;
  position: absolute;
}
.header-text52 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text52:hover {
  color: #939393;
}
.header-text53 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text53:hover {
  color: #939393;
}
.header-text54 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text54:hover {
  color: #939393;
}
.header-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 17px;
}
.header-dropdown-toggle08 {
  fill: #595959;
  display: inline-flex;
}
.header-text55 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
}
.header-text55:hover {
  color:  #FBCBD3;
}
.header-dropdown-list4 {
  top: 39px;
  left: -932px;
  height: 198px;
  display: none;
  z-index: 101;
  position: absolute;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.header-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header-dropdown-toggle09 {
  fill: #595959;
  width: 1440px;
  height: 245px;
  display: inline-flex;
  position: relative;
}
.header-frame17 {
  width: 1440px;
  height: 198px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: #FFF3F6;
}
.header-frame18 {
  gap: 488px;
  top: 24px;
  left: 338px;
  display: flex;
  position: absolute;
}
.header-text58 {
  color: #000000;
  height: auto;
  font-size: 18px;
  font-style: Semi Bold;
  font-family: Open Sans;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.header-text60 {
  color: #000000;
  height: auto;
  font-size: 18px;
  font-style: Semi Bold;
  font-family: Open Sans;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.header-frame19 {
  gap: 8px;
  top: 62px;
  left: 340px;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.header-text63 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text63:hover {
  color: #939393;
}
.header-text64 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text64:hover {
  color: #939393;
}
.header-text65 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text65:hover {
  color: #939393;
}
.header-text66 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text66:hover {
  color: #939393;
}
.header-frame20 {
  gap: 8px;
  top: 62px;
  left: 926px;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.header-text67 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text67:hover {
  color: #939393;
}
.header-text68 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text68:hover {
  color: #939393;
}
.header-text69 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text69:hover {
  color: #939393;
}
.header-text70 {
  color: #000000;
  font-size: 18px;
  font-style: Regular;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.header-text70:hover {
  color: #939393;
}
.header-text71 {
  color: #FF4D4D;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 600;
  font-stretch: normal;
  padding-bottom: 17px;
  text-decoration: none;
}
.header-text71:hover {
  color:  #FBCBD3;
}







